<div class="tabulate" ng-class="{'no-settings': vm.noConfig, 'wide' : model.config.wide}"
     ng-controller="Tabulate.Controller as vm">

    <umb-editor-sub-header appearance="white">
        <umb-editor-sub-header-content-left ng-show="model.value.data.length > model.value.settings.numPerPage">
            <div class="umb-mini-search">
                <umb-icon class="icon umb-icon" icon="icon-search" ng-click="vm.setPaging()"></umb-icon>
                <input class="form-control search-input"
                       ng-change="vm.setPaging()"
                       ng-disabled="vm.noConfig"
                       ng-model="vm.pagination.search"
                       no-dirty-check
                       placeholder="Type to search..."
                       type="text"/>
            </div>
        </umb-editor-sub-header-content-left>
        <umb-editor-sub-header-content-right>
            <umb-button button-style="default"
                        icon="icon-settings"
                        label-key="general_settings"
                        ng-click="vm.openSettings()"
                        ng-hide="vm.mapsLoaded === 'show' || vm.hideSettings"
                        type="button">
            </umb-button>
            <umb-button button-style="danger"
                        icon="icon-trash"
                        label-key="general_delete"
                        ng-click="vm.noConfig || vm.clearModel()"
                        ng-hide="vm.noConfig"
                        type="button">
            </umb-button>
        </umb-editor-sub-header-content-right>
    </umb-editor-sub-header>

    <div class="umb-table" ng-class="{'manual-sort': vm.manualSort, 'list-view' : model.value.settings.isListView}">
        <div class="umb-table-head" ng-if="model.value.settings.isListView">
            <div class="umb-table-row">
                <div class="umb-table-cell" ng-bind="c.displayName" ng-repeat="c in model.value.settings.columns"></div>
                <div class="umb-table-cell umb-table-cell__actions">
                    <localize key="general_actions"></localize>
                </div>
            </div>
        </div>
        <div class="umb-table-body" ng-hide="vm.noConfig" ng-model="vm.pagination.items" ui-sortable="vm.sortOptions">
            <div class="umb-table-row" ng-class="{'disabled' : o.disabled}"
                 ng-repeat="o in vm.pagination.items track by $index">
                <div class="umb-table-cell" ng-class="{'umb-table__name' : $first}"
                     ng-repeat="c in model.value.settings.columns" ng-show="model.value.settings.isListView">
                    <a class="umb-table-body__link" href="" ng-bind="o._label" ng-click="vm.editRow(o._guid)"
                       ng-if="$first"
                       ng-model="o._label" title="Edit"></a>
                    <span ng-bind-html="o[c.displayName] | umbWordLimit" ng-if="!$first"></span>
                </div>

                <div class="umb-table-cell umb-table__name f-1" ng-show="!model.value.settings.isListView">
                    <a class="umb-table-body__link" href="" ng-bind="o._label" ng-click="vm.editRow(o._guid)"
                       ng-model="o._label" title="Edit"></a>
                </div>

                <div class="umb-table-cell umb-table-cell__actions">
                    <div class="umb-node-preview__actions">
                        <button class="umb-node-preview__action sort-handle" ng-show="vm.manualSort" type="button">
                            <umb-icon icon="icon-navigation-vertical"
                                      ng-if="model.value.settings.isListView"></umb-icon>
                            <localize key="general_sort" ng-if="!model.value.settings.isListView">Sort</localize>
                        </button>
                        <button class="umb-node-preview__action" ng-click="vm.disableRow(o._guid)" type="button">
                            <umb-icon icon="icon-power" ng-if="model.value.settings.isListView"></umb-icon>
                            <span ng-bind="o.disabled ? 'Enable' : 'Disable'"
                                  ng-if="!model.value.settings.isListView"></span>
                        </button>
                        <button class="umb-node-preview__action umb-node-preview__action--red"
                                ng-click="vm.removeRow(o._guid)"
                                type="button">
                            <umb-icon icon="icon-trash" ng-if="model.value.settings.isListView"></umb-icon>
                            <localize key="general_delete" ng-if="!model.value.settings.isListView">Delete</localize>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="add-row" ng-show="!vm.noConfig">
        <button class="umb-node-preview-add" ng-click="vm.addRow()" type="button">
            <localize key="general_add">Add</localize>
        </button>
    </div>

    <umb-empty-state ng-if="vm.noConfig">
        <localize key="tabulate_noConfig"></localize>
    </umb-empty-state>

    <umb-empty-state ng-if="vm.noResults">
        <localize key="general_searchNoResult"></localize>
    </umb-empty-state>

    <umb-pagination ng-if="vm.pagination.totalPages > 1"
                    on-go-to-page="vm.goToPage"
                    on-next="vm.goToPage"
                    on-prev="vm.goToPage"
                    page-number="vm.pagination.pageNumber"
                    total-pages="vm.pagination.totalPages">

    </umb-pagination>

    <umb-load-indicator ng-if="vm.loading"></umb-load-indicator>

</div>
