<umb-editor-view>
    <umb-editor-header hide-alias="true"
                       hide-description="true"
                       hide-icon="true"
                       name="model.title"
                       name-locked="true">
    </umb-editor-header>
    <umb-editor-container>
        <umb-box>
            <form class="umb-box-content tabulate edit-row form-horizontal"
                  ng-controller="Tabulate.Dialog.Controller as vm" novalidate
                  val-form-manager>
                <umb-control-group label="{{ c.displayName }}" ng-class="{ 'block-form' : c.type === 'rte' }"
                                   ng-repeat="c in model.config.columns track by $index">
                    <textarea ng-if="c.type === 'textarea'" ng-model="model.data[c.displayName]"></textarea>

                    <div class="umb-property-editor umb-rte" ng-controller="Umbraco.PropertyEditors.RTEController"
                         ng-if="c.type === 'rte'" ng-init="model = model.rteConfig[c.displayName]">
                        <div class="-loading" ng-if="isLoading">
                            <localize key="general_loading">Loading</localize>
                            ...
                        </div>
                        <div class="umb-rte-editor" id="{{textAreaHtmlId}}"
                             ng-style="{ visibility :  isLoading ? 'hidden' : 'visible'}"></div>
                    </div>

                    <input class="umb-property-editor"
                           ng-if="c.type !== 'textarea' && c.type !== 'rte' && c.type !== 'linked'"
                           ng-model="model.data[c.displayName]"
                           ng-model-options="{ debounce: 400 }"
                           type="{{ vm.inputType(c.type) }}"/>

                    <div class="geocoded-property" ng-if="c.displayName === 'Address' && vm.hasGeocodedAddress">
                        <label><strong>
                            <localize key="tabulate_latitude"></localize>
                            :</strong> {{ model.data.lat }}</label>
                        <label><strong>
                            <localize key="tabulate_longitude"></localize>
                            :</strong> {{ model.data.lng }}</label>
                        <button class="btn btn-default" ng-click="vm.viewLocation()" type="button">
                            <umb-icon icon="icon-map"></umb-icon>
                            <localize key="tabulate_updateAddressCoords"></localize>
                        </button>
                    </div>

                    <div class="linked-column-wrapper" ng-if="c.type === 'linked'">
                        <input class="umb-property-editor"
                               id="typeahead_{{ vm.safeName(c.displayName) }}"
                               ng-model="model.data[c.displayName]"
                               type="text"/>
                    </div>

                </umb-control-group>
            </form>
        </umb-box>
    </umb-editor-container>
    <umb-editor-footer>
        <umb-editor-footer-content-right>
            <umb-button action="model.close()"
                        button-style="link"
                        label-key="general_close"
                        type="button">
            </umb-button>

            <umb-button action="model.submit(model)"
                        button-style="success"
                        label-key="general_submit"
                        type="button">
            </umb-button>
        </umb-editor-footer-content-right>
    </umb-editor-footer>
</umb-editor-view>
