<umb-editor-view>
    <umb-editor-header hide-alias="true"
                       hide-description="true"
                       hide-icon="true"
                       name="model.title"
                       name-locked="true">
    </umb-editor-header>

    <umb-editor-container>
        <div class="tabulate settings" ng-controller="Tabulate.Settings.Controller as vm">

            <umb-box>
                <umb-box-header description-key="tabulate_addColumnDescription"
                                title-key="tabulate_addColumn"></umb-box-header>
                <umb-box-content class="form-horizontal">
                    <umb-control-group label="@tabulate_columnDisplayName">
                        <input name="new-column-name" ng-model="vm.newColumnName" type="text"/>
                    </umb-control-group>

                    <umb-control-group label="@tabulate_columnInputType">
                        <select name="new-column-type" ng-model="vm.newColumnType"
                                ng-options="t.value as t.label for t in vm.types"></select>
                    </umb-control-group>

                    <div class="umb-add-row">
                        <button class="umb-node-preview-add" ng-click="vm.addColumn()"
                                ng-if="vm.newColumnType && vm.newColumnName"
                                type="button">
                            <localize key="general_add">Add</localize>
                        </button>
                    </div>
                </umb-box-content>
            </umb-box>

            <umb-box>
                <umb-box-header title-key="tabulate_currentColumns"></umb-box-header>
                <umb-box-content class="form-horizontal">
                    <umb-control-group hide-label="true">
                        <table>
                            <thead>
                            <tr>
                                <th>
                                    <localize key="general_name"></localize>
                                </th>
                                <th>
                                    <localize key="general_type"></localize>
                                </th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-class="{'disabled': model.columnsToRemove.indexOf($index) !== -1}"
                                ng-repeat="c in model.config.columns track by $index">
                                <td><input ng-change="vm.changedColumn($index)" ng-model="c.displayName" type="text"/>
                                </td>
                                <td>
                                    <select name="column-type" ng-change="vm.changedColumn($index)"
                                            ng-model="c.type"
                                            ng-options="t.value as t.label for t in vm.types"></select>
                                </td>
                                <td>
                                    <button class="umb-node-preview__action umb-node-preview__action--red"
                                            ng-click="vm.removeColumn($index)"
                                            type="button">
                                        <localize class="sr-only" key="general_delete">Delete</localize>
                                        <umb-icon icon="icon-trash"></umb-icon>
                                    </button>
                                </td>
                                <td ng-if="c.type === 'linked'">
                                    <textarea ng-model="c.source"></textarea>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </umb-control-group>

                    <umb-control-group description="@tabulate_labelDescription" label="@general_label">
                        <input name="label" ng-change="model.config.labelChanged = true" ng-model="model.config.label"
                               type="text"/>
                    </umb-control-group>

                    <umb-control-group description="@tabulate_listViewDescription" label="@general_listView">
                        <umb-toggle checked="model.config.isListView"
                                    on-click="model.config.isListView = !model.config.isListView"
                                    show-labels="{{'false'}}"></umb-toggle>
                    </umb-control-group>

                    <umb-control-group label="@general_orderBy">
                        <select name="sort-order" ng-change="vm.sort()" ng-model="model.config.sortOrder">
                            <option value="A">Ascending</option>
                            <option value="D">Descending</option>
                            <option value="M">Manual</option>
                        </select>
                    </umb-control-group>

                    <umb-control-group label="@tabulate_perPage">
                        <input name="per-page" ng-model="model.config.numPerPage" type="number"/>
                    </umb-control-group>
                </umb-box-content>
            </umb-box>
            <umb-box>
                <umb-box-header description-key="tabulate_dataDescription" title-key="tabulate_data"></umb-box-header>
                <umb-box-content class="form-horizontal">
                    <div class="export-type m-b-10">
                        <localize key="general_show"></localize>
                        :
                        <button class="btn btn-default" ng-class="{'active' : vm.showing === 'json'}"
                                ng-click="vm.show('json')"
                                type="button">JSON
                        </button>
                        <button class="btn btn-default" ng-class="{'active' : vm.showing === 'csv'}"
                                ng-click="vm.show('csv')"
                                type="button">CSV
                        </button>
                    </div>

                    <textarea class="m-b-10" ng-model="vm.importExport" rows="10" style="width:100%"></textarea>

                    <!-- download as -->
                    <div class="download-wrapper d-flex">
                        <button class="btn btn-info" ng-click="vm.download()" ng-hide="!model.data" type="button">
                            <localize key="general_download"></localize>
                        </button>
                        <button class="btn btn-warning" ng-click="vm.import()" ng-disabled="vm.importDisabled"
                                type="button">
                            <localize key="general_import"></localize>
                        </button>
                    </div>

                    <div class="m-t-10 alert alert-{{ vm.importAlert.state }}" ng-if="vm.importAlert">
                        {{ vm.importAlert.message }}
                    </div>
                </umb-box-content>
            </umb-box>

            <umb-box ng-show="vm.tabulateEditors.length">
                <umb-box-header description-key="tabulate_mappingsDescription"
                                title-key="tabulate_mappings"></umb-box-header>
                <umb-box-content>

                    <div class="control-group" ng-if="model.config.mappings && model.config.mappings.length">
                        <table>
                            <thead>
                            <tr>
                                <th>
                                    <localize key="tabulate_targetProperty"></localize>
                                </th>
                                <th>
                                    <localize key="tabulate_targetColumn"></localize>
                                </th>
                                <th>
                                    <localize key="tabulate_sourceColumn"></localize>
                                </th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr ng-init="vm.setTargetEditorColumns(m.targetEditor.alias)"
                                ng-repeat="m in model.config.mappings track by $index">
                                <td>
                                    <select ng-change="vm.setTargetEditorColumns(m.targetEditor.alias)"
                                            ng-model="m.targetEditor"
                                            ng-options="t.alias for t in vm.tabulateEditors track by t.alias"></select>
                                </td>
                                <td>
                                    <select ng-disabled="!m.targetEditor" ng-model="m.targetProperty"
                                            ng-options="c.displayName for c in vm.targetEditorColumns track by c.displayName"></select>
                                </td>
                                <td>
                                    <select ng-disabled="!m.targetProperty" ng-model="m.sourceProperty"
                                            ng-options="c.displayName for c in model.config.columns track by c.displayName"></select>
                                </td>
                                <td>
                                    <button class="btn btn-reset" ng-click="vm.removeMapping($index)" type="button">
                                        <localize class="sr-only" key="general_remove">Remove</localize>
                                        <umb-icon icon="icon-trash"></umb-icon>
                                    </button>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <button class="umb-node-preview-add" ng-click="vm.addEmptyItem()" title="Add" type="button">
                        <localize key="general_add">Add</localize>
                    </button>
                </umb-box-content>
            </umb-box>
        </div>

    </umb-editor-container>
    <umb-editor-footer>
        <umb-editor-footer-content-right>
            <umb-button action="model.close()"
                        button-style="link"
                        label-key="general_close"
                        type="button">
            </umb-button>
            <umb-button action="model.submit(model)"
                        button-style="success"
                        label-key="general_submit"
                        type="button">
            </umb-button>
        </umb-editor-footer-content-right>
    </umb-editor-footer>

</umb-editor-view>
